﻿<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<!doctype html>
<html>
<head>
    @*<meta charset="UTF-8">
        讓網頁不會自動因手機螢幕變小而扭曲，使得RWD網頁能正常執行
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的第一堂RWD</title>
    <link href="main.css" rel=stylesheet>*@
</head>
<body>
    <div>
        <header></header>

        <span><a href="#">有名堂史</a>&nbsp;<a href="#">菜色導覽</a>&nbsp;<a href="#">最新活動</a>&nbsp;<a href="#">分店資訊</a>&nbsp;<a href="#">意見回饋</a>&nbsp;<a href="#">線上訂購</a>&nbsp;<a href="#">關於作者</a></span>
        <article>
            <h1>有名堂讓飲食富有新生命！</h1>
            在這裡您可以品嘗到道地香港師傅料理的菜餚，手工捏製的點心，以及創意多元的料理，不論是熱炒、點心、飯麵粥品、煲湯、手工甜品等，全都是師傅的拿手好菜。
            <h2>台北市文山區木新路3段123號</h2>
        </article>
        <footer>網站企劃製作：巨匠電腦 永和分校 馬世驊 老師　版型繪製：黃千秀</footer>
    </div>

</body>
</html>

