﻿@Model.People


<!DOCTYPE html>
<script>


</script>
<html>
<head>
    <title><h2>IBM Calculator</h2></title>
</head>
<body>
    @using (Html.BeginForm())
    {
    <div>
        @Html.Label("輸入身高:")
        <input type="text" name="Height" /><br />
        @Html.Label("輸入體重:")
        <input type="text" name="Weight" />
    </div>
    <div>
        IBM: @Model.ValueBMI<br />
    </div>
        <input type="submit" />

    }

</body>
</html>